body {
    background: linear-gradient(to right, #ffe825, #2a5298);
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 100px 0 50px 0;
  }
  
  h1 {
    color: #ffe825;
    font-size: 72px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  
  p {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  
  a {
    color: #ffe825;
    text-decoration: none;
    border-bottom: 2px solid #ffe825;
    padding-bottom: 2px;
  }
  
  a:hover {
    border-color: #fff;
  }
  
  button {
    background: #ffe825;
    border: none;
    padding: 10px 20px;
    color: #1e3c72;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  button:hover {
    background: #ffe825;
    color: #1e3c72;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }